# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [ ]:
%help

####  Run this cell to set up and start your interactive session.

In [28]:
%idle_timeout 2880
%glue_version 3.0
%worker_type G.1X
%number_of_workers 5
%connections redshift-demo-connection

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from pyspark.sql.functions import *
from awsglue.dynamicframe import DynamicFrame
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

You are already connected to a glueetl session a88fd810-5fc2-4bfa-bdb7-8a999a99f8a5.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Current idle_timeout is 2880 minutes.
idle_timeout has been set to 2880 minutes.

You are already connected to a glueetl session a88fd810-5fc2-4bfa-bdb7-8a999a99f8a5.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Setting Glue version to: 3.0

You are already connected to a glueetl session a88fd810-5fc2-4bfa-bdb7-8a999a99f8a5.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous worker type: G.1X
Setting new worker type to: G.1X

You are already connected to a glueetl session a88fd810-5fc2-4bfa-bdb7-8a999a99f8a5.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous number of workers: 5
Setting new number of workers to: 5

You are already connected to a glueetl session a88fd810-5fc2-4bfa-bdb7-8a999a99f8a5.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Connections to be included:
redshift-demo-connection

#### Example: Create a DynamicFrame from a table in the AWS Glue Data Catalog and display its schema

In [25]:
dyf = glueContext.create_dynamic_frame.from_catalog(database='salesdb', table_name='sales_records_csv')
dyf = DropNullFields.apply(frame=dyf)
dyf.printSchema()

null_fields []
root
|-- id: long
|-- region: string
|-- country: string
|-- item_type: string
|-- sales_channel: string
|-- order_priority: string
|-- order_date: string
|-- order_id: long
|-- ship_date: string
|-- units_sold: long
|-- unit_price: double
|-- unit_cost: double
|-- total_revenue: double
|-- total_cost: double
|-- total_profit: double

#### Example: Convert the DynamicFrame to a Spark DataFrame and display a sample of the data

In [3]:
df = dyf.toDF()
df.show()

+---+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
| id|              region|             country|      item_type|sales_channel|order_priority|order_date| order_id| ship_date|units_sold|unit_price|unit_cost|total_revenue|total_cost|total_profit|
+---+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  1|Central America a...|Antigua and Barbuda |      Baby Food|       Online|             M|12/20/2013|957081544| 1/11/2014|       552|    255.28|   159.42|    140914.56|  87999.84|    52914.72|
|  2|Central America a...|              Panama|         Snacks|      Offline|             C|  7/5/2010|301644504| 7/26/2010|      2167|    152.58|    97.44|    330640.86| 211152.48|   119488.38|
|  3|              Europe|      Czech Republic|      Beverages|      Offline|             C| 9/12/2011|478051030| 9/29/2011|      4778|     47.45|    31.79|     226716.1| 151892.62|    74823.48|
|  4|                Asia|         North Korea|         Cereal|      Offline|             L| 5/13/2010|892599952| 6/15/2010|      9016|     205.7|   117.11|    1854591.2|1055863.76|   798727.44|
|  5|                Asia|           Sri Lanka|         Snacks|      Offline|             C| 7/20/2015|571902596| 7/27/2015|      7542|    152.58|    97.44|   1150758.36| 734892.48|   415865.88|
|  6|Middle East and N...|             Morocco|  Personal Care|      Offline|             L| 11/8/2010|412882792|11/22/2010|        48|     81.73|    56.67|      3923.04|   2720.16|     1202.88|
|  7|Australia and Oce...|Federated States ...|        Clothes|      Offline|             H| 3/28/2011|932776868| 5/10/2011|      8258|    109.28|    35.84|    902434.24| 295966.72|   606467.52|
|  8|              Europe|Bosnia and Herzeg...|        Clothes|       Online|             M|10/14/2013|919133651| 11/4/2013|       927|    109.28|    35.84|    101302.56|  33223.68|    68078.88|
|  9|Middle East and N...|         Afghanistan|        Clothes|      Offline|             M| 8/27/2016|579814469| 10/5/2016|      8841|    109.28|    35.84|    966144.48| 316861.44|   649283.04|
| 10|  Sub-Saharan Africa|            Ethiopia|      Baby Food|       Online|             M| 4/13/2015|192993152|  5/7/2015|      9817|    255.28|   159.42|   2506083.76|1565026.14|   941057.62|
| 11|Middle East and N...|              Turkey|Office Supplies|      Offline|             C| 9/25/2013|557156026|10/15/2013|      3704|    651.21|   524.96|   2412081.84|1944451.84|    467630.0|
| 12|Middle East and N...|                Oman|      Cosmetics|       Online|             M| 5/12/2013|741101920| 5/17/2013|      7382|     437.2|   263.33|    3227410.4|1943902.06|  1283508.34|
| 13|                Asia|            Malaysia|         Cereal|      Offline|             L| 7/31/2016|333942162| 8/25/2016|      9762|     205.7|   117.11|    2008043.4|1143227.82|   864815.58|
| 14|Central America a...|         Saint Lucia|      Cosmetics|      Offline|             H|  7/6/2015|795100581| 7/16/2015|      6786|     437.2|   263.33|    2966839.2|1786957.38|  1179881.82|
| 15|Central America a...|Saint Vincent and...|      Baby Food|       Online|             L|11/28/2010|504313504| 12/3/2010|      6428|    255.28|   159.42|   1640939.84|1024751.76|   616188.08|
| 16|Middle East and N...|             Lebanon|           Meat|      Offline|             H|12/17/2015|611629760| 1/31/2016|      3693|    421.89|   364.69|   1558039.77|1346800.17|    211239.6|
| 17|              Europe|             Austria|         Cereal|      Offline|             C| 8/13/2014|987410676|  9/6/2014|      5616|     205.7|   117.11|    1155211.2| 657689.76|   497521.44|
| 18|              Europe|            Bulgaria|Office Supplies|       Online|             L|10/31/2010|672330081|11/29/2010|      6266|    651.21|   524.96|   4080481.86|3289399.36|    791082.5|
| 19|       North America|              Mexico|      Beverages|       Online|             C| 3/13/2017|127374303| 3/20/2017|      1742|     47.45|    31.79|      82657.9|  55378.18|    27279.72|
| 20|Central America a...| Trinidad and Tobago|      Baby Food|      Offline|             C| 4/16/2013|783842170|  6/1/2013|      5172|    255.28|   159.42|   1320308.16| 824520.24|   495787.92|
+---+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

#### Example: Perform data transformations

In [11]:
sales_df = df.withColumn("Order_Date", to_date(unix_timestamp(col('order_date'), 'MM/dd/yyyy').cast('timestamp'))) \
             .withColumn("Ship_Date", to_date(unix_timestamp(col('ship_date'), 'MM/dd/yyyy').cast('timestamp')))

sales_df.show(10, True)

+---+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
| id|              region|             country|    item_type|sales_channel|order_priority|Order_Date| order_id| Ship_Date|units_sold|unit_price|unit_cost|total_revenue|total_cost|total_profit|
+---+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  1|Central America a...|Antigua and Barbuda |    Baby Food|       Online|             M|2013-12-20|957081544|2014-01-11|       552|    255.28|   159.42|    140914.56|  87999.84|    52914.72|
|  2|Central America a...|              Panama|       Snacks|      Offline|             C|2010-07-05|301644504|2010-07-26|      2167|    152.58|    97.44|    330640.86| 211152.48|   119488.38|
|  3|              Europe|      Czech Republic|    Beverages|      Offline|             C|2011-09-12|478051030|2011-09-29|      4778|     47.45|    31.79|     226716.1| 151892.62|    74823.48|
|  4|                Asia|         North Korea|       Cereal|      Offline|             L|2010-05-13|892599952|2010-06-15|      9016|     205.7|   117.11|    1854591.2|1055863.76|   798727.44|
|  5|                Asia|           Sri Lanka|       Snacks|      Offline|             C|2015-07-20|571902596|2015-07-27|      7542|    152.58|    97.44|   1150758.36| 734892.48|   415865.88|
|  6|Middle East and N...|             Morocco|Personal Care|      Offline|             L|2010-11-08|412882792|2010-11-22|        48|     81.73|    56.67|      3923.04|   2720.16|     1202.88|
|  7|Australia and Oce...|Federated States ...|      Clothes|      Offline|             H|2011-03-28|932776868|2011-05-10|      8258|    109.28|    35.84|    902434.24| 295966.72|   606467.52|
|  8|              Europe|Bosnia and Herzeg...|      Clothes|       Online|             M|2013-10-14|919133651|2013-11-04|       927|    109.28|    35.84|    101302.56|  33223.68|    68078.88|
|  9|Middle East and N...|         Afghanistan|      Clothes|      Offline|             M|2016-08-27|579814469|2016-10-05|      8841|    109.28|    35.84|    966144.48| 316861.44|   649283.04|
| 10|  Sub-Saharan Africa|            Ethiopia|    Baby Food|       Online|             M|2015-04-13|192993152|2015-05-07|      9817|    255.28|   159.42|   2506083.76|1565026.14|   941057.62|
+---+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 10 rows

#### Group by Region and Country and calculate aggregate metrics

In [22]:
aggregate_df = sales_df.groupBy("Region", "Country", year("order_date").alias('year'), quarter("order_date").alias('quarter')).agg(
    sum("Total_Revenue").alias("Total_Revenue_By_Region_Country"),
    sum("Total_Cost").alias("Total_Cost_By_Region_Country"),
    sum("Total_Profit").alias("Total_Profit_By_Region_Country")
)

#### Show the aggregated data (for demonstration purposes)

In [24]:
aggregate_df.orderBy("year","quarter").show()
aggregate_df.count()

+--------------------+-----------------+----+-------+-------------------------------+----------------------------+------------------------------+
|              Region|          Country|year|quarter|Total_Revenue_By_Region_Country|Total_Cost_By_Region_Country|Total_Profit_By_Region_Country|
+--------------------+-----------------+----+-------+-------------------------------+----------------------------+------------------------------+
|Middle East and N...|           Kuwait|2010|      1|                     1923024.24|                  1200910.86|                     722113.38|
|              Europe|         Slovenia|2010|      1|             402336.24000000005|          270036.38999999996|                     132299.85|
|  Sub-Saharan Africa|     Sierra Leone|2010|      1|                     6481276.65|          3926471.4699999997|            2554805.1799999997|
|              Europe|           Cyprus|2010|      1|                      165676.72|                   103463.58|                      62213.14|
|              Europe|    Liechtenstein|2010|      1|                      1574016.4|                   896125.72|                     677890.68|
|                Asia|        Indonesia|2010|      1|                      105949.91|                    71881.15|                      34068.76|
|                Asia|         Maldives|2010|      1|                      1637261.5|                   1231223.0|                      406038.5|
|  Sub-Saharan Africa|           Uganda|2010|      1|                       66862.04|                    39463.62|                      27398.42|
|Middle East and N...|            Syria|2010|      1|                     2148550.98|          1846030.5999999999|                     302520.38|
|  Sub-Saharan Africa|            Kenya|2010|      1|                      488216.14|                   288157.17|                     200058.97|
|Middle East and N...|          Bahrain|2010|      1|                     2428478.64|                  1516562.46|                     911916.18|
|  Sub-Saharan Africa|          Nigeria|2010|      1|                      130917.44|                    42936.32|                      87981.12|
|                Asia|        Sri Lanka|2010|      1|                      200419.52|                    65730.56|                     134688.96|
|              Europe|      Switzerland|2010|      1|                      255802.95|                   171379.89|                      84423.06|
|              Europe|        Lithuania|2010|      1|                     1834377.72|                  1585672.12|                      248705.6|
|Middle East and N...|             Iran|2010|      1|                     2931671.66|                  2239089.38|                     692582.28|
|Australia and Oce...|            Nauru|2010|      1|                     5755393.98|                  4639596.48|                     1115797.5|
|Central America a...|          Jamaica|2010|      1|                     1573974.57|                  1268828.32|                     305146.25|
|  Sub-Saharan Africa|Equatorial Guinea|2010|      1|                       75265.11|                    55823.64|                      19441.47|
|Central America a...|         Honduras|2010|      1|             1183921.8900000001|                  1023289.68|                     160632.21|
+--------------------+-----------------+----+-------+-------------------------------+----------------------------+------------------------------+
only showing top 20 rows

3317

In [20]:
df.count()

5000

In [29]:
dyf = DynamicFrame.fromDF(aggregate_df, glueContext, "dynamic_frame")

#### Example: Write the data in the DynamicFrame to a location in Amazon S3 and a table for it in the AWS Glue Data Catalog

In [30]:
dyf.show()

{"Region": "Sub-Saharan Africa", "Country": "Zambia", "year": 2013, "quarter": 2, "Total_Revenue_By_Region_Country": 1765523.1, "Total_Cost_By_Region_Country": 1005155.13, "Total_Profit_By_Region_Country": 760367.97}
{"Region": "Europe", "Country": "Kosovo", "year": 2012, "quarter": 4, "Total_Revenue_By_Region_Country": 4934580.33, "Total_Cost_By_Region_Country": 3958495.06, "Total_Profit_By_Region_Country": 976085.27}
{"Region": "Europe", "Country": "Spain", "year": 2011, "quarter": 4, "Total_Revenue_By_Region_Country": 4544537.69, "Total_Cost_By_Region_Country": 3633328.41, "Total_Profit_By_Region_Country": 911209.28}
{"Region": "Sub-Saharan Africa", "Country": "Senegal", "year": 2011, "quarter": 3, "Total_Revenue_By_Region_Country": 80527.23, "Total_Cost_By_Region_Country": 59726.52, "Total_Profit_By_Region_Country": 20800.71}
{"Region": "Middle East and North Africa", "Country": "Saudi Arabia", "year": 2013, "quarter": 4, "Total_Revenue_By_Region_Country": 9850970.7, "Total_Cost_By_Region_Country": 7127364.779999999, "Total_Profit_By_Region_Country": 2723605.92}
{"Region": "Sub-Saharan Africa", "Country": "Ghana", "year": 2017, "quarter": 2, "Total_Revenue_By_Region_Country": 2936764.95, "Total_Cost_By_Region_Country": 2090989.27, "Total_Profit_By_Region_Country": 845775.6799999999}
{"Region": "Sub-Saharan Africa", "Country": "Botswana", "year": 2015, "quarter": 2, "Total_Revenue_By_Region_Country": 533279.92, "Total_Cost_By_Region_Country": 333028.38, "Total_Profit_By_Region_Country": 200251.54}
{"Region": "Europe", "Country": "Belarus", "year": 2017, "quarter": 2, "Total_Revenue_By_Region_Country": 2209334.2199999997, "Total_Cost_By_Region_Country": 1614166.6400000001, "Total_Profit_By_Region_Country": 595167.5800000001}
{"Region": "Sub-Saharan Africa", "Country": "Seychelles ", "year": 2016, "quarter": 1, "Total_Revenue_By_Region_Country": 161424.9, "Total_Cost_By_Region_Country": 108149.58, "Total_Profit_By_Region_Country": 53275.32}
{"Region": "Central America and the Caribbean", "Country": "Saint Vincent and the Grenadines", "year": 2016, "quarter": 4, "Total_Revenue_By_Region_Country": 1134805.96, "Total_Cost_By_Region_Country": 669790.38, "Total_Profit_By_Region_Country": 465015.58}
{"Region": "North America", "Country": "Canada", "year": 2014, "quarter": 1, "Total_Revenue_By_Region_Country": 163373.6, "Total_Cost_By_Region_Country": 53580.8, "Total_Profit_By_Region_Country": 109792.8}
{"Region": "Europe", "Country": "Andorra", "year": 2014, "quarter": 2, "Total_Revenue_By_Region_Country": 2165678.68, "Total_Cost_By_Region_Country": 1628498.9400000002, "Total_Profit_By_Region_Country": 537179.74}
{"Region": "Australia and Oceania", "Country": "Vanuatu", "year": 2011, "quarter": 4, "Total_Revenue_By_Region_Country": 335294.11000000004, "Total_Cost_By_Region_Country": 229228.47, "Total_Profit_By_Region_Country": 106065.64}
{"Region": "Central America and the Caribbean", "Country": "The Bahamas", "year": 2014, "quarter": 1, "Total_Revenue_By_Region_Country": 1418189.3599999999, "Total_Cost_By_Region_Country": 825444.62, "Total_Profit_By_Region_Country": 592744.74}
{"Region": "Europe", "Country": "Montenegro", "year": 2011, "quarter": 2, "Total_Revenue_By_Region_Country": 4235589.399999999, "Total_Cost_By_Region_Country": 3119431.9299999997, "Total_Profit_By_Region_Country": 1116157.47}
{"Region": "Asia", "Country": "Uzbekistan", "year": 2014, "quarter": 3, "Total_Revenue_By_Region_Country": 560811.55, "Total_Cost_By_Region_Country": 375726.01, "Total_Profit_By_Region_Country": 185085.53999999998}
{"Region": "Sub-Saharan Africa", "Country": "Burkina Faso", "year": 2016, "quarter": 2, "Total_Revenue_By_Region_Country": 399007.05, "Total_Cost_By_Region_Country": 267322.11, "Total_Profit_By_Region_Country": 131684.94}
{"Region": "Australia and Oceania", "Country": "Samoa ", "year": 2013, "quarter": 4, "Total_Revenue_By_Region_Country": 2098003.46, "Total_Cost_By_Region_Country": 1486731.42, "Total_Profit_By_Region_Country": 611272.04}
{"Region": "Central America and the Caribbean", "Country": "Haiti", "year": 2014, "quarter": 4, "Total_Revenue_By_Region_Country": 814014.3, "Total_Cost_By_Region_Country": 519842.4, "Total_Profit_By_Region_Country": 294171.9}
{"Region": "Europe", "Country": "Liechtenstein", "year": 2015, "quarter": 3, "Total_Revenue_By_Region_Country": 5117611.66, "Total_Cost_By_Region_Country": 3848451.32, "Total_Profit_By_Region_Country": 1269160.34}

In [33]:


Redshift_output = glueContext.write_dynamic_frame.from_jdbc_conf(
    frame=dyf,
    catalog_connection="redshift-demo-connection",
    connection_options={
        "redshiftTmpDir": "s3://aws-glue-assets-262136919150-us-east-1/temporary/",
        "dbtable": "public.Regionalsales",
        "database":"dev"
       }
)

Py4JJavaError: An error occurred while calling o287.getJDBCSink.
: java.sql.SQLException: [Amazon](500150) Error setting/closing connection: Connection timed out.
	at com.amazon.redshift.client.PGClient.connect(Unknown Source)
	at com.amazon.redshift.client.PGClient.<init>(Unknown Source)
	at com.amazon.redshift.core.PGJDBCConnection.connect(Unknown Source)
	at com.amazon.jdbc.common.BaseConnectionFactory.doConnect(Unknown Source)
	at com.amazon.jdbc.common.AbstractDriver.connect(Unknown Source)
	at com.amazon.redshift.jdbc.Driver.connect(Unknown Source)
	at com.amazonaws.services.glue.util.JDBCWrapper$$anonfun$12.apply(JDBCUtils.scala:968)
	at com.amazonaws.services.glue.util.JDBCWrapper$$anonfun$12.apply(JDBCUtils.scala:964)
	at com.amazonaws.services.glue.util.JDBCWrapper$$anonfun$connectWithSSLAttempt$1$$anonfun$apply$8.apply(JDBCUtils.scala:920)
	at scala.Option.getOrElse(Option.scala:121)
	at com.amazonaws.services.glue.util.JDBCWrapper$$anonfun$connectWithSSLAttempt$1.apply(JDBCUtils.scala:920)
	at scala.Option.getOrElse(Option.scala:121)
	at com.amazonaws.services.glue.util.JDBCWrapper$.connectWithSSLAttempt(JDBCUtils.scala:920)
	at com.amazonaws.services.glue.util.JDBCWrapper$.connectionProperties(JDBCUtils.scala:963)
	at com.amazonaws.services.glue.util.JDBCWrapper.connectionProperties$lzycompute(JDBCUtils.scala:734)
	at com.amazonaws.services.glue.util.JDBCWrapper.connectionProperties(JDBCUtils.scala:734)
	at com.amazonaws.services.glue.util.JDBCWrapper.getRawConnection(JDBCUtils.scala:747)
	at com.amazonaws.services.glue.RedshiftDataSink.<init>(RedshiftDataSink.scala:41)
	at com.amazonaws.services.glue.GlueContext.getSink(GlueContext.scala:972)
	at com.amazonaws.services.glue.GlueContext.getJDBCSink(GlueContext.scala:707)
	at com.amazonaws.services.glue.GlueContext.getJDBCSink(GlueContext.scala:689)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
Caused by: com.amazon.support.exceptions.GeneralException: [Amazon](500150) Error setting/closing connection: Connection timed out.
	... 31 more
Caused by: java.net.ConnectException: Connection timed out
	at sun.nio.ch.Net.connect0(Native Method)
	at sun.nio.ch.Net.connect(Net.java:482)
	at sun.nio.ch.Net.connect(Net.java:474)
	at sun.nio.ch.SocketChannelImpl.connect(SocketChannelImpl.java:647)
	at sun.nio.ch.SocketAdaptor.connect(SocketAdaptor.java:107)
	at com.amazon.redshift.client.PGClient.connect(Unknown Source)
	at com.amazon.redshift.client.PGClient.<init>(Unknown Source)
	at com.amazon.redshift.core.PGJDBCConnection.connect(Unknown Source)
	at com.amazon.jdbc.common.BaseConnectionFactory.doConnect(Unknown Source)
	at com.amazon.jdbc.common.AbstractDriver.connect(Unknown Source)
	at com.amazon.redshift.jdbc.Driver.connect(Unknown Source)
	at com.amazonaws.services.glue.util.JDBCWrapper$$anonfun$12.apply(JDBCUtils.scala:968)
	at com.amazonaws.services.glue.util.JDBCWrapper$$anonfun$12.apply(JDBCUtils.scala:964)
	at com.amazonaws.services.glue.util.JDBCWrapper$$anonfun$connectWithSSLAttempt$1$$anonfun$apply$8.apply(JDBCUtils.scala:920)
	at scala.Option.getOrElse(Option.scala:121)
	at com.amazonaws.services.glue.util.JDBCWrapper$$anonfun$connectWithSSLAttempt$1.apply(JDBCUtils.scala:920)
	at scala.Option.getOrElse(Option.scala:121)
	at com.amazonaws.services.glue.util.JDBCWrapper$.connectWithSSLAttempt(JDBCUtils.scala:920)
	at com.amazonaws.services.glue.util.JDBCWrapper$.connectionProperties(JDBCUtils.scala:963)
	at com.amazonaws.services.glue.util.JDBCWrapper.connectionProperties$lzycompute(JDBCUtils.scala:734)
	at com.amazonaws.services.glue.util.JDBCWrapper.connectionProperties(JDBCUtils.scala:734)
	at com.amazonaws.services.glue.util.JDBCWrapper.getRawConnection(JDBCUtils.scala:747)
	at com.amazonaws.services.glue.RedshiftDataSink.<init>(RedshiftDataSink.scala:41)
	at com.amazonaws.services.glue.GlueContext.getSink(GlueContext.scala:972)
	at com.amazonaws.services.glue.GlueContext.getJDBCSink(GlueContext.scala:707)
	at com.amazonaws.services.glue.GlueContext.getJDBCSink(GlueContext.scala:689)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)